<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="tablesDataSource">
      <!-- table number Column -->
      <ng-container matColumnDef="tableNumber">
          <mat-header-cell *matHeaderCellDef> מספר שולחן </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="openEditDialog('tableNumber', $event.target.value, element)"> {{element.tableNumber}} </mat-cell>
      </ng-container>

      <!-- arrived Column -->
      <ng-container matColumnDef="arrived">
          <mat-header-cell *matHeaderCellDef> כמה הגיעו </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.arrived}} </mat-cell>
      </ng-container>

      <!-- relation Column -->
      <ng-container matColumnDef="relation">
          <mat-header-cell *matHeaderCellDef> קרבה </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.relation}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>