<div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="סנן">
      </mat-form-field>
    </div>
  
    <button (click)="updateTable()"  _ngcontent-c22="" mat-raised-button="" class="mat-raised-button">טעני עדכונים</button>
    <div class="front">
        מספר המוזמנים שהגיעו עד כה: {{amountArrived}}
    </div>
    <mat-table #table [dataSource]="dataSource">
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> שם </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- table number Column -->
      <ng-container matColumnDef="tableNumber">
        <mat-header-cell *matHeaderCellDef> מספר שולחן </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="openEditDialog('tableNumber', $event.target.value, element)"> {{element.tableNumber}} </mat-cell>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> כמות </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>
  
      <!-- has arrived Column -->
      <ng-container matColumnDef="hasArrived">
        <mat-header-cell *matHeaderCellDef> האם הגיע? </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="openEditDialog('hasArrived', $event.target.value, element)" > {{element.hasArrived}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>