<!--The content below is only a placeholder and can be replaced.-->
<form (ngSubmit)="onSubmit()" autocomplete="off">
    <h1>
        מלא את הפרטים כדי לקבל שולחן!
    </h1>
    <div class="example-container">
        <mat-form-field>
            <datalist *ngIf="invited" id="invities">
                <option *ngFor="let person of invited.guests">{{person.name}}</option>
            </datalist>
            <input list="invities" [(ngModel)]="name" placeholder="שם" [ngModelOptions]="{standalone: true}" matInput>
        </mat-form-field>
    </div>
    <button mat-raised-button  type="submit" class="md-raised" mat-button>אשר הגעה!</button>
</form>
<div class="front" *ngIf="wasSubmitted">
    תודה {{previousName}}! שולחן מספר {{tableNumber}}
</div>
<div class="centered">
    <img src="./assets/images/penguins.jpg" alt="penguins" width="20%" height="20%">
</div>
