form {
    text-align: center;
    mat-form-field {
        font-size: 20px;
        input{
            word-break:break-all; 
        }
    }
    .mat-button {
        font-size: 2em;
        margin-bottom: 20px;
    }
}
.centered {
    display: flex;
    justify-content: center;
}
.front {
    text-align: center;
    padding: 25px;
}