<!--The content below is only a placeholder and can be replaced.-->
<!--<div [ngStyle]="{background: 'url(./background.jpg')'"></div>-->
<form (ngSubmit)="onSubmit()">
    <h1>
        מלא את הפרטים כדי לקבל שולחן!
    </h1>
    <div class="example-container">
        <mat-form-field>
            <datalist id="invities">
                <option *ngFor="let person of invited.guests">{{person.name}}</option>
            </datalist>
            <input list="invities" [(ngModel)]="name" placeholder="שם" [ngModelOptions]="{standalone: true}" matInput>
        </mat-form-field>
    </div>
    <button mat-button type="submit" class="md-raised" mat-button>שלח!</button>
</form>
<div class="front" *ngIf="wasSubmitted">
    תודה {{previousName}} ! שולחן מספר {{tableNumber}}
</div>
<div class="centered">
    <img src="./assets/penguins.jpg" alt="penguins" width="20%" height="20%">
</div>
