<h1 mat-dialog-title>החלפת שולחן</h1>
<div mat-dialog-content *ngIf="data.field === 'tableNumber'">
    <p>לאיזה שולחן להעביר את {{data.element.name}}?</p>
    <mat-form-field>
        <input matInput [(ngModel)]="data.element.tableNumber" cdkFocusInitial>
    </mat-form-field>
</div>
<div mat-dialog-content *ngIf="data.field === 'hasArrived'">
    <p *ngIf="data.element.hasArrived === false">האם את בטוחה ש {{data.element.name}} הגיע?</p>
    <p *ngIf="data.element.hasArrived === true">האם את בטוחה ש {{data.element.name}} לא הגיע?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">ביטול</button>
    <button mat-button [mat-dialog-close]="data.element">אישור</button>
</div>