/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@font-face {
    font-family: "VarelaRound-Regular";
    src: url("./assets/fonts/VarelaRound-Regular.ttf");
}
* {
    font-family: "VarelaRound-Regular";
}
img {
    max-width: 100%
}

input,
textarea {
    max-width: 100%
}

.cdk-overlay-pane {
    direction: rtl;
}